Aplicacion/*.iml
Aplicacion/.gradle
Aplicacion/local.properties
Aplicacion/.idea/workspace.xml
Aplicacion/.idea/libraries
Aplicacion/.DS_Store
Aplicacion/build
Aplicacion/captures
Aplicacion/.idea
Aplicacion/app/app.iml
